    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

              <div class="background-header about">ABOUT US
                <h2>The Founders</h2>
                <hr class="yellow">
                <div class="about-message">
      						<p>OpenSpace is a brand new company started by three grad school buddies from MIT who went on to become successful tech founders. We’re stoked to be building company #2 together.</p>
      					</div>
        </div>
    </section>

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                  <img class="img-responsive" src="img/jeevan.png" alt="Jeevan Kalanathi">
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                  <h4>CEO</h4>
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Jeevan Kalanithi</h2>
                  <div class="lead">Jeevan sold his first company, Sifteo, to 3D Robotics, where he eventually became the President. 3DR, a 200+ person company, launched a drone which made $45M in its first year. Jeevan was most recently an Entrepreneur-in-Residence at Lux Capital.
                    <br/>
                    <br/>
                    <p><a href="https://www.linkedin.com/in/jeevan/"target="blank"><img src="img/linkedin.png" alt="linkedin">Linkedin</a></p>
                  </div>
              </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                  <img class="img-responsive" src="img/philip.png" alt="Philip DeCamp">
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                  <h4>CTO</h4>
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Philip DeCamp</h2>
                  <div class="lead">Philip was recently a computer vision and data visualization Research Scientist at MIT, where he completed his PhD (and Masters, and BS). His work has been featured at TED (among other places).
                    <br/>
                    <br/>
                    <p><a href="https://www.linkedin.com/in/philip-decamp-362728a9/"target="blank"><img src="img/linkedin.png" alt="linkedin">Linkedin</a></p>
                  </div>
              </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                  <img class="img-responsive" src="img/michael.png" alt="Mike Fleischman">
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                  <h4>Chief Scientist</h4>
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Michael Fleischman</h2>
                  <div class="lead">After completing his PhD at MIT, Michael started Bluefin Labs, a company that specialized in analysis of massive amounts of video. Twitter acquired Bluefin in one of its largest acquisitions. Michael was most recently advisor to Twitter’s CTO.
                    <br/>
                    <br/>
                    <p><a href="https://www.linkedin.com/in/philip-decamp-362728a9/"target="blank"><img src="img/linkedin.png" alt="linkedin">Linkedin</a></p>
                  </div>
              </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

<div class="side-mark"></div>
