    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

              <div class="background-header">ABOUT US
                <h2>The Founders</h2>
                <hr class="yellow">
                <div class="about-message">
      						<p>OpenSpace is a brand new company started by three veteran tech founders and engineers.</p>
      					</div>
        </div>
    </section>

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                  <img class="img-responsive" src="img/jeevan.png" alt="Jeevan Kalanathi">
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <h4>CEO</h4>
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Jeevan Kalanithi</h2>
                  <div class="lead">Jeevan sold his first company, Sifteo, to 3D Robotics, where he eventually became the President. 3DR, a 200+ person company, launched a drone which made $45M in its first year. Jeevan was most recently an Entrepreneur-in-Residence at Lux Capital.</div>
              </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                  <img class="img-responsive" src="img/philip.png" alt="Philip DeCamp">
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <h4>CTO</h4>
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Philip DeCamp</h2>
                  <div class="lead">Philip was most recently a computer vision Research Scientist at MIT, where he completed his PhD (and Masters, and BS). His work has been featured at TED (among other places). </div>
              </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                  <img class="img-responsive" src="img/michael.png" alt="Mike Fleischman">
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <h4>CSO (Chief Science Officer)</h4>
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Mike Fleischman</h2>
                  <div class="lead">Michael started a company, Bluefin Labs, which specialized in analysis of massive amounts of video. Twitter acquired BlueFin in one of its largest acquisitions ever. Mike was most recently an advisor to Twitter’s CTO. </div>
              </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

<div class="side-mark"></div>
