<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#home"><img class="logo"src="img/openspace.png"</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            	<li>
                    <a class="page-scroll" href="#about">About Us</a>
                </li>
                <li>
                    <a class="page-scroll" href="#hiring">Join Us</a>
                </li>
                <li>
                    <a class="page-scroll" href="#investors">Investors</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
	<div class="intro-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1>OpenSpace is working on something extremely cool that solves some extremely big problems. </h1>
						<h3>Pretty vague, we know: that’s because it’s secret, for now. We can tell you it combines cameras, computer vision and graphics - with a dash of robotics. Let’s talk, we can tell you more as news warrants.</h3>

						<ul class="list-inline intro-social-buttons">
							<li>
								<a href="" class="btn btn-default btn-lg">GET THE LATEST UPDATES</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
      <div>
         <a href="#">
           <span class="bottom"></span>
         </a>
       </div>
		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

</section>

<div class="outer">
  <div class="inner"></div>
</div>
<div class="left-side-element"></div>
<div class="right-side-element"></div>
