<section id="hiring" class="dark-bg">

		<div class="container ">

			<div class="row">
					<div class="col-lg-8 col-lg-offset-2">

						<div class="background-header-light">JOIN US
							<h2>We're Hiring</h2>
							<hr class="yellow">
							<div class="about-message-light">
								<p>And of course, we’re hiring! If you are looking to build something you can be proud of with a group of people who will both challenge you and are fun to be around (we like to think we pass the “you wouldn’t mind hanging out with us in an airport bar when your flight is delayed” test) - APPLY</p>
							</div>

			</div>
		</div>

		<ul class="list-inline intro-social-buttons center">
			<li>
				<a href="https://openspace.ai/careers.html" class="btn btn-default btn-lg" target="blank">SEE OPEN POSITIONS</a>
			</li>
		</ul>
	</div>
<div class="left-side-element-small"></div>

</section>
<!-- /.banner -->
