<section id="investors" class="investors">

		<div class="container">

			<div class="row">
					<div class="center">

						<div class="background-header funding">FUNDING
							<h2>Our Investors</h2>
							<hr class="yellow">
							<div class="about-message">
								<p>We are thankful to have some amazing investors and supporters.</p>
							</div>
							</div>
							<ul class="list-inline intro-social-buttons center">
								<li>
									  <a href="http://www.luxcapital.com/" target="blank"> <img class="img-responsive" src="img/lux.png" alt="Lux Capital"></a>
								</li>
								<li>
									   <a href="https://foundationcapital.com/" target="blank"><img class="img-responsive" src="img/foundation-capital.png" alt="Foundation Capital"></a>
								</li>

								<li>
										<a href="https://angel.co/" target="blank"> <img class="img-responsive" src="img/angellist.png" alt="Angel List"></a>
								</li>
								<li>
									 <a href="http://boxgroup.com/" target="blank"><img class="img-responsive" src="img/box-group.png" alt="Box Group"></a>
								</li>

							</ul>
							<ul class="list-inline intro-social-buttons center">

								<li>
									 <a href="http://www.sterling.vc/" target="blank"><img class="img-responsive" src="img/sterling.png" alt="Sterling VC"></a>
								</li>
								<li>
									  <a href="https://seedfund.nsf.gov/" target="blank"><img class="img-responsive" src="img/nsf.png" alt="National Science Foundation"></a>
								</li>
								<li>
									 <a href="http://cometlabs.io/" target="blank"><img class="img-responsive" src="img/commet.png" alt="Commet Labs"></a>
								</li>
								<li>
									 <a href="https://www.goldcrest.co/" target="blank"><img class="img-responsive" src="img/goldcrest.png" alt="Gold Crest Capital"></a>
								</li>

							</ul>

		</div>
	</div>


</section>
<!-- /.banner -->
