<section id="investors" class="investors">

		<div class="container">

			<div class="row">
					<div class="col-lg-8 col-lg-offset-2">

						<div class="background-header funding">FUNDING
							<h2>Our Investors</h2>
							<hr class="yellow">
							<div class="about-message">
								<p>We are thankful to have some amazing investors and supporters.</p>
							</div>
							<ul class="list-inline intro-social-buttons">
								<li>
									  <img class="img-responsive" src="img/lux.png" alt="Lux Capital">
								</li>
								<li>
									  <img class="img-responsive" src="img/foundation-capital.png" alt="Foundation Capital">
								</li>
								<li>
									  <img class="img-responsive" src="img/nsf.png" alt="National Science Foundation">
								</li>
							</ul>
							<ul class="list-inline intro-social-buttons">
								<li>
									  <img class="img-responsive" src="img/angellist.png" alt="Angel List">
								</li>
								<li>
									  <img class="img-responsive" src="img/box-group.png" alt="Box Group">
								</li>

							</ul>
			</div>
		</div>
	</div>
<div class="left-side-element-small"></div>

</section>
<!-- /.banner -->
